
.ff-regular { font-family: $font-family-regular; font-weight: 400; }
.ff-light { font-family: $font-family-light; font-weight: 200; }
.ff-medium { font-family: $font-family-medium; font-weight: 400; }
.ff-bold { font-family: $font-family-bold; font-weight: 700; }
.ff-serif { font-family: $font-family-serif; font-weight: 400; }
.ff-italic {
  font-family: $font-family-italic;
  font-style: italic;
  font-weight: 700;
}

// .fs-large { font-size: $font-size-large }
// .fs-small { font-size: $font-size-small }
// .fs-base { font-size: $font-size-base }
// .fs-label { font-size: $font-size-label }

.co-primary { color: $color-primary }
.co-yellow { color: $color-yellow }
.co-blue { color: $color-blue }
.co-title { color: $color-title }
.co-text { color: $color-text }
.co-secondary { color: $color-secondary }
.co-gray { color: $color-gray }


.fs-title { font-size: 18px }
.fs-base { font-size: 17px }
.fs-small { font-size: 14px }
.fs-extra-small { font-size: 13px }

.title {
  color: $color-title;
  font: 18px/23px $font-family-medium;
}

@mixin link-underline( $top: 100% ) {
  position: relative;

  &:before,
  &:after {
    content: '';
    height: 2px;
    position: absolute;
    top: $top;
    width: 70%;
    mix-blend-mode: multiply;
    transition: all 200ms ease-in-out;
  }

  &:before {
    background-color: $color-yellow;
    left: 0;
    z-index: 0;
  }

  &:after {
    background-color: $color-blue;
    right: 0;
    z-index: 10;
  }

  &.active:before,
  &:hover:before {
   left: 30%;
  }
  &.active:after,
  &:hover:after {
   right: 30%;
  }
}

.mobile {
  .link {
    @include link-underline(0);
    padding-top: 40px;
  }
}

.link {
  color: $color-title;
  display: inline-block;
  font: 14px/14px $font-family-bold;
  height: 20px;
  @include link-underline;

  &.link--sober {
    &:before,
    &:after { content: none }
  }

  &.link--close { color: $color-text }
}
