
//
// Variables
// --------------------------------------------------

//== Assets paths
//

$img-path: '../img/';
$font-path: '../fonts/';

//== Colors
//
$color-primary:         #3c9; // green
$color-yellow:          #ffe240;
$color-blue:            #40ecff;
$color-title:           #0f1a15; // black
$color-text:            #5d605f;
$color-secondary:       #e7e8e8; // gray
$color-gray:            #a4a8a6;
$color-green:           $color-primary;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Site elements size
$content-with:   900px;
$sidebar-width:  260px;
$site-border:    1px solid $color-secondary;

//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            $color-text;

//** Global textual link color.
$link-color:            $color-title;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-regular:  'ColfaxRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-light:    'ColfaxLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-medium:   'ColfaxMedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-bold:     'ColfaxBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:    'ScalaRegular', 'Times New Roman', Times, serif;
$font-family-italic:   'ScalaBoldItalic', 'Times New Roman', Times, serif;

$font-family-base:        $font-family-serif;

$font-size-base:          17px; // scala, 25.5
$font-size-title:         18px; // colfax medium, 23
$font-size-large:         20px;
$font-size-small:         13px;
$font-size-label:         11px;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px;

// Small screen / tablet
$screen-sm:                  768px;

// Medium screen / desktop
$screen-md:                  992px;

// Large screen / wide desktop
$screen-lg:                  1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);

$screen-md-max:              ($screen-lg - 1);

