//
// Variables
// --------------------------------------------------

//== Assets paths
//

$img-path: '../img/';

$icon-github: '#{$img-path}networks/github.svg';
$icon-twitter: '#{$img-path}networks/twitter.svg';
$icon-lastfm: '#{$img-path}networks/lastfm.svg';

//== Colors
//
$color-primary:         #3c9; // primary
$color-additional:      #ddeb7f;
$color-gray:            #f9f9f9; // gray
$color-contrast:        #5d605f;

// alias
$color-text:            $color-contrast;

//== Scaffolding
//

//** Content size.
$content-with:          900px;
//** Horizontal rules.
$site-border:           1px solid #e7e8e8;
//** Global text color on `<body>`.
$text-color:            $color-text;
//** Global textual link color.
$link-color:            $color-primary;
//** Link hover color.
$link-hover-color:      $color-additional;


//== Typography
//

$font-family-sans:      'museo-sans',sans-serif;
$font-family-serif:     'Playfair Display', serif;

$font-family-base:        $font-family-sans;

$font-size-base:          17px;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px;
// Small screen / tablet
$screen-sm:                  768px;
// Medium screen / desktop
$screen-md:                  992px;
// Large screen / wide desktop
$screen-lg:                  1200px;

//
// Layout
// --------------------------------------------------


  // Based on
  // html5doctor.com Reset Stylesheet v1.6.1
  // --------------------------------------------

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background:transparent;
  border:0;
  font-size:100%;
  margin:0;
  outline:0;
  padding:0;
  vertical-align:baseline;
}

body { line-height:1 }

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

  // Link
  // --------------------

a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;

  &:hover,
  &:focus,
  &:active { outline: none }
}

  // Horizontal Rule
  // --------------------

hr {
  background: none;
  border: 0;
  border-top: $site-border;
  display: block;
  height: 1px;
  margin: 50px auto;
  padding: 0;
  width: 75%
}

  // Titles
  // --------------------

h1, h2, h3, h4, h5, h6 { font-weight: normal }

  // Lists
  // ---------------

ul,
ol { list-style: none }

  // Box Model
  // ---------------

*,
*:before,
*:after { box-sizing: border-box }


// Body reset
// --------------

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: #fff;
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  height: 100%;
  scroll-behavior: smooth;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  width: 100%;
}

// Typo
// --------------

  // Font Family

.ff-sans {
  font-family: $font-family-sans;
  font-weight: 300
}
.ff-serif {
  font-family: $font-family-serif;
  font-weight: 400;
}

  // Font Weight

.fw-light { font-weight: 100 }
.fw-regular { font-weight: 400 }
.fw-bold { font-weight: 700 }
.fw-extra { font-weight: 900 }

  // Font color

.co-primary { color: $color-primary }

// Layout
// --------------

.container {
  height: 100%;
  position: relative;
}

.content {
  height: 100%;
  display: block;
  position: relative;
  text-align: left;
  z-index: 100;
}

.greetings {
  border-bottom: $site-border;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  max-height: 700px;
  margin-bottom: 10%;

  h1 {
    line-height: 35px;
    color: $color-primary;
    font-size: 38px
  }

  h3 {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }

  h3 i { font-size: 30px }

  p { line-height: 25px }
}

.greetings__companies {
  margin: 50px 0 0;
  padding-left: 45%;
  text-align: right;
}

.greetings__box {
  display: flex;
  flex-direction: column;
}

.greetings__box__position {
  padding-top: 20px;

  a {
    border-bottom: 1px dashed rgba( $color-contrast, .3 );
    color: $color-contrast
  }
}

// Projects
// --------------

.projects {
  border-bottom: $site-border;
  margin: 50px 0
}

.project__row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 10vh;
  // position: relative;
  width: 100%;
}

.project__link { position: relative }

.project__screen {
  display: block;
  width: 100%
}

.project__url {
  background: #fff;
  background: rgba( #fff, .85 );
  bottom: 0;
  color: $color-contrast;
  display: block;
  font-size: 14px;
  padding: 3px 5px;
  position: absolute
}

// .project__row:nth-child(even) .project__link { text-align: right }

// Contact
// --------------

.contact {
  // padding-top: 30px;
  padding: 30px 0 50px;
  text-align: center;
  width: auto
}
.contact li { display: inline-block }

.i-network {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 35px;
  text-align: left;
  text-indent: -9000px;
  width: 35px;
}

.contact a:hover .i-network { background-color: transparent }

.i-network--github { background-image: url(#{$icon-github}) }
.i-network--twitter { background-image: url(#{$icon-twitter}) }
.i-network--lastfm { background-image: url(#{$icon-lastfm}) }

//
// Media Queries
// --------------------------------------------------

@media only screen and (max-width: $screen-sm) {

  .greetings {
    padding-left: 20px;
    padding-right: 20px;

    // h1 { font-size: 25px }
  }

  .greetings__companies {
    padding-left: 0;
    text-align: left;
  }

  .greetings__box__position { padding-top: 50px }

}

@media only screen and (min-width: $screen-sm) {

  hr { width: 45% }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: $content-with;
    width: 100%;
  }
  // .contact { text-align: right }

  // .contact ul { margin: 0 }
}
